<div *ngIf="!loading" class="root">
    <app-header (onNewIssue)="addIssue()"></app-header>
    <app-banner></app-banner>

    <div class="container">

        <div class="fixed">
            <div class="status">
                <div>
                    <div class="todo"></div>
                    <div>To DO</div>
                </div>
            </div>
            <div class="status">
                <div>
                    <div class="doing"></div>
                    <div>Doing</div>
                </div>
            </div>
            <div class="status">
                <div>
                    <div class="done"></div>
                    <div>Done</div>
                </div>
            </div>
        </div>

        <div class="row" cdkDropListGroup>
            <div id="todo" cdkDropList [cdkDropListData]="toDo" (cdkDropListDropped)="drop($event)" class="col">
                <div class="issue-wrapper" cdkDrag [cdkDragData]="issue" cdkDragBoundary=".row" *ngFor="let issue of toDo; let i = index">
                    <app-issue [data]="issue"></app-issue>
                </div>
            </div>
            <div id="doing" cdkDropList [cdkDropListData]="doing" (cdkDropListDropped)="drop($event)" class="col">
                <div class="issue-wrapper" cdkDrag [cdkDragData]="issue" cdkDragBoundary=".row" *ngFor="let issue of doing; let i = index">
                    <app-issue [data]="issue"></app-issue>
                </div>
            </div>
            <div id="done" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)" class="col">
                <div class="issue-wrapper" cdkDrag [cdkDragData]="issue" cdkDragBoundary=".row" *ngFor="let issue of done; let i = index">
                    <app-issue [data]="issue"></app-issue>
                </div>
            </div>

        </div>
    </div>
</div>
